/* src/Login.css */

body, html{
  height: 50%;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-image: url('C:\Users\POLU SANDHYA RANI\Project1\atimetable\src\assets\background3.jpg');
  background-size: cover;
}
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.login-container h2 {
  text-align: center;
}

.login-container div {
  margin-bottom: 10px;
}

.login-container label {
  display: block;
}

.login-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff5500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #ff5500;
}
